.back-img{
    background-image: url('../../../image/backimg/img3.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    height: 80vh;
}