.back-img{
    background-image: url('../../../image/backimg/img3.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
   
}
.banner-slie{
    position: absolute;
    text-align: center;
   left: 30%;
  margin-top: 200px;
}
.banner-slie p{
    color: white
}
.banner-slie h1{
    font-size: 35px;
    color: white;
}