.blog-section{
  margin: 00px 60px 60px 60px;
    background-color: grey;
    padding: 20px;
    border-radius: 20px;
    color: white;
    
}
.blog-section h2{
    font-size: 30px;
    padding: 10px 5px;
}
.blog-section p{
    padding: 10px;
    font-size: 20px;
}
.blog{
    background-color: rgb(61, 59, 59);
    padding: 100px 40px;
}